body {
  background-color: #ffffff;
  color: #000000;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0px 20px;
}

section {
  margin-bottom: 80px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

p, li {
  font-size: 16px;
}

button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 14px 18px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

a {
  color: #000000;
  text-decoration: none;
}
.btn a{
  color: #ffffff;
}
